
// Copyright 2015  Malcolm Inglis <http://minglis.id.au>
//
// This file is part of Libarray.
//
// Libarray is free software: you can redistribute it and/or modify it under
// the terms of the GNU Affero General Public License as published by the
// Free Software Foundation, either version 3 of the License, or (at your
// option) any later version.
//
// Libarray is distributed in the hope that it will be useful, but WITHOUT ANY
// WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
// FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for
// more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with Libarray. If not, see <https://gnu.org/licenses/>.


// This file is the result of rendering:
//
//     {{template_path}}
//
// You should make changes to this file by tuning the build process, or (at a
// stretch) modifying the generation script or template file; not by editing
// this file as-is.


#ifndef LIBARRAY_ARRAY_{{macroname}}_H
#define LIBARRAY_ARRAY_{{macroname}}_H


#include <libtypes/types.h>
#include <libmaybe/def/maybe_size.h>
#include <libmaybe/def/maybe_{{filename}}.h>
{% for p in sys_headers %}
#include <{{p}}>
{% endfor %}

#include "def/array_{{filename}}.h"
{% for path in rel_headers %}
#include "{{p}}"
{% endfor %}


bool
array_{{funcname}}__is_valid(
        Array_{{typename}} );


Array_{{typename}}
array_{{funcname}}__new(
        {{type}} const * elements,
        size_t length );


Array_{{typename}}
array_{{funcname}}__new_view(
        {{type}} * elements,
        size_t length );


Array_{{typename}}
array_{{funcname}}__new_alloc(
        size_t length );


Array_{{typename}}
array_{{funcname}}__new_calloc(
        size_t length );


#define array_{{funcname}}__new_els( ... ) \
    array_{{funcname}}__copy_array( \
        ( Array_{{typename}} ) ARRAY_{{macroname}}( __VA_ARGS__ ) )


Array_{{typename}}
array_{{funcname}}__copy_array(
        Array_{{typename}} );


void
array_{{funcname}}__free(
        Array_{{typename}} * xs );


void
array_{{funcname}}__realloc(
        Array_{{typename}} *,
        size_t new_length );


void
array_{{funcname}}__memcpy_in(
        Array_{{typename}} to,
        void const * from,
        size_t from_size );
// Copies `n` bytes from `from` to `to`, where `n` is the minimum of the size
// of `to` and `from_size`.


void
array_{{funcname}}__memcpy_to(
        Array_{{typename}} from,
        void * to,
        size_t to_size );
// Copies `n` bytes from `from` to `to`, where `n` is the minimum of the size
// of `from` and `to_size`.


void
array_{{funcname}}__copy_into_array(
        Array_{{typename}} from,
        Array_{{typename}} to );
// Copies `n` elements from `from` to `to`, where `n` is the minimum of the
// lengths of `from` and `to`.


void
array_{{funcname}}__copy_into_array_with(
        Array_{{typename}} from,
        Array_{{typename}} to,
        void ( * copier )( {{type}} from_el, {{type}} * to_el ) );
// Calls `copier` (or byte-wise copy if null) with all the respective elements
// in `from` and `to` up to the minimum length of both arrays.


void
array_{{funcname}}__into_array(
        Array_{{typename}} from,
        Array_{{typename}} * to );
// Reallocates `to` to the length of `from`, and copies all elements from
// `from` to `to`.


void
array_{{funcname}}__into_array_with(
        Array_{{typename}} from,
        Array_{{typename}} * to,
        void ( * copier )( {{type}} from_el, {{type}} * to_el ),
        void ( * freer )( {{type}} * unused_to_el ) );
// Calls `freer` (if non-null) with all elements in `to` at indices past the
// length of `from`, reallocates `to` to the length of `from`, and calls
// `copier` (or byte-wise copy if null) with all the respective elements in
// `from` and `to`.


Array_{{typename}}
array_{{funcname}}__id(
        Array_{{typename}} );


{{type}} *
array_{{funcname}}__elements(
        Array_{{typename}} );


size_t
array_{{funcname}}__length(
        Array_{{typename}} );


size_t
array_{{funcname}}__size(
        Array_{{typename}} );


bool
array_{{funcname}}__is_empty(
        Array_{{typename}} );


bool
array_{{funcname}}__isnt_empty(
        Array_{{typename}} );


bool
array_{{funcname}}__is_length_1(
        Array_{{typename}} );


bool
array_{{funcname}}__same(
        Array_{{typename}},
        Array_{{typename}} );


{{type}}
array_{{funcname}}__get(
        Array_{{typename}},
        size_t index );


{{type}} *
array_{{funcname}}__getp(
        Array_{{typename}},
        size_t index );


Maybe_{{typename}}
array_{{funcname}}__getm(
        Array_{{typename}},
        size_t index );


{{type}}
array_{{funcname}}__set(
        Array_{{typename}},
        size_t index,
        {{type}} value );


Maybe_{{typename}}
array_{{funcname}}__setm(
        Array_{{typename}},
        size_t index,
        {{type}} value );


void
array_{{funcname}}__set_all(
        Array_{{typename}},
        {{type}} value );


{{type}}
array_{{funcname}}__set_first(
        Array_{{typename}},
        {{type}} value );


{{type}}
array_{{funcname}}__set_last(
        Array_{{typename}},
        {{type}} value );


void
array_{{funcname}}__memset(
        Array_{{typename}},
        uchar const byte );


void
array_{{funcname}}__memzero(
        Array_{{typename}} );


{{type}}
array_{{funcname}}__first(
        Array_{{typename}} );


{{type}} *
array_{{funcname}}__firstp(
        Array_{{typename}} );


Maybe_{{typename}}
array_{{funcname}}__firstm(
        Array_{{typename}} );


{{type}}
array_{{funcname}}__last(
        Array_{{typename}} );


{{type}} *
array_{{funcname}}__lastp(
        Array_{{typename}} );


Maybe_{{typename}}
array_{{funcname}}__lastm(
        Array_{{typename}} );


size_t
array_{{funcname}}__count(
        Array_{{typename}},
        bool ( * f )( {{type}} ) );


size_t
array_{{funcname}}__count_first(
        Array_{{typename}},
        bool ( * f )( {{type}} ) );


size_t
array_{{funcname}}__count_last(
        Array_{{typename}},
        bool ( * f )( {{type}} ) );


Array_{{typename}}
array_{{funcname}}__take(
        Array_{{typename}},
        size_t n );


Array_{{typename}}
array_{{funcname}}__drop(
        Array_{{typename}},
        size_t n );


Array_{{typename}}
array_{{funcname}}__take_end(
        Array_{{typename}},
        size_t n );


Array_{{typename}}
array_{{funcname}}__drop_end(
        Array_{{typename}},
        size_t n );


Array_{{typename}}
array_{{funcname}}__take_while(
        Array_{{typename}},
        bool ( * f )( {{type}} ) );


Array_{{typename}}
array_{{funcname}}__take_end_while(
        Array_{{typename}},
        bool ( * f )( {{type}} ) );


Array_{{typename}}
array_{{funcname}}__drop_while(
        Array_{{typename}},
        bool ( * f )( {{type}} ) );


Array_{{typename}}
array_{{funcname}}__drop_end_while(
        Array_{{typename}},
        bool ( * f )( {{type}} ) );


Array_{{typename}}
array_{{funcname}}__slice(
        Array_{{typename}},
        size_t start,
        size_t stop );


Array_{{typename}}
array_{{funcname}}__slice_s(
        Array_{{typename}},
        intmax_t start,
        intmax_t stop );


Array_{{typename}}
array_{{funcname}}__left_half(
        Array_{{typename}} );


Array_{{typename}}
array_{{funcname}}__right_half(
        Array_{{typename}} );


Maybe_size
array_{{funcname}}__find(
        Array_{{typename}},
        bool ( * f )( {{type}} ) );


Maybe_size
array_{{funcname}}__find_not(
        Array_{{typename}},
        bool ( * f )( {{type}} ) );


Maybe_size
array_{{funcname}}__find_last(
        Array_{{typename}},
        bool ( * f )( {{type}} ) );


Maybe_size
array_{{funcname}}__find_last_not(
        Array_{{typename}},
        bool ( * f )( {{type}} ) );


{{type}} *
array_{{funcname}}__findp(
        Array_{{typename}},
        bool ( * f )( {{type}} ) );


{{type}} *
array_{{funcname}}__findp_not(
        Array_{{typename}},
        bool ( * f )( {{type}} ) );


{{type}} *
array_{{funcname}}__findp_last(
        Array_{{typename}},
        bool ( * f )( {{type}} ) );


{{type}} *
array_{{funcname}}__findp_last_not(
        Array_{{typename}},
        bool ( * f )( {{type}} ) );


Maybe_{{typename}}
array_{{funcname}}__findm(
        Array_{{typename}},
        bool ( * f )( {{type}} ) );


Maybe_{{typename}}
array_{{funcname}}__findm_not(
        Array_{{typename}},
        bool ( * f )( {{type}} ) );


Maybe_{{typename}}
array_{{funcname}}__findm_last(
        Array_{{typename}},
        bool ( * f )( {{type}} ) );


Maybe_{{typename}}
array_{{funcname}}__findm_last_not(
        Array_{{typename}},
        bool ( * f )( {{type}} ) );


bool
array_{{funcname}}__any(
        Array_{{typename}},
        bool ( * f )( {{type}} ) );


bool
array_{{funcname}}__all(
        Array_{{typename}},
        bool ( * f )( {{type}} ) );


bool
array_{{funcname}}__only_one(
        Array_{{typename}},
        bool ( * f )( {{type}} ) );


bool
array_{{funcname}}__all_but_one(
        Array_{{typename}},
        bool ( * f )( {{type}} ) );


{{type}}
array_{{funcname}}__foldl(
        Array_{{typename}} xs,
        {{type}} init,
        {{type}} ( * f )( {{type}} acc, {{type}} x ) );


{{type}}
array_{{funcname}}__foldl1(
        Array_{{typename}} xs,
        {{type}} ( * f )( {{type}} acc, {{type}} x ) );


{{type}}
array_{{funcname}}__foldr(
        Array_{{typename}} xs,
        {{type}} init,
        {{type}} ( * f )( {{type}} x, {{type}} acc ) );


{{type}}
array_{{funcname}}__foldr1(
        Array_{{typename}} xs,
        {{type}} ( * f )( {{type}} x, {{type}} acc ) );


{{type}} *
array_{{funcname}}__pick(
        Array_{{typename}} xs,
        bool ( * f )( {{type}} * pick, {{type}} x ) );


bool
array_{{funcname}}__equal_by(
        Array_{{typename}} xs,
        Array_{{typename}} ys,
        bool ( * eq )( {{type}} x, {{type}} y ) );


bool
array_{{funcname}}__has_prefix_by(
        Array_{{typename}} xs,
        Array_{{typename}} ys,
        bool ( * eq )( {{type}} x, {{type}} y ) );
// Returns the boolean that `ys` is a prefix of `xs` under the equality
// function of `eq`.


bool
array_{{funcname}}__has_suffix_by(
        Array_{{typename}} xs,
        Array_{{typename}} ys,
        bool ( * eq )( {{type}} x, {{type}} y ) );
// Returns the boolean that `ys` is a suffix of `xs` under the equality
// function of `eq`.


bool
array_{{funcname}}__has_infix_by(
        Array_{{typename}} xs,
        Array_{{typename}} ys,
        bool ( * eq )( {{type}} x, {{type}} y ) );
// Returns the boolean that `ys` is contained wholly and intact in `xs` under
// the equality function of `eq`.


Maybe_size
array_{{funcname}}__infix_index_by(
        Array_{{typename}} xs,
        Array_{{typename}} ys,
        bool ( * eq )( {{type}} x, {{type}} y ) );
// If `ys` is contained wholly and intact in `xs` under the equality function
// of `eq`, then returns the index at which `ys` begins within `xs`. Otherwise,
// returns nothing.


{{type}} *
array_{{funcname}}__infix_ptr_by(
        Array_{{typename}} xs,
        Array_{{typename}} ys,
        bool ( * eq )( {{type}} x, {{type}} y ) );
// If `ys` is contained wholly and intact in `xs` under the equality function
// of `eq`, then returns the pointer at which `ys` begins within `xs`.
// Otherwise, returns `NULL`.


size_t
array_{{funcname}}__infix_count_by(
        Array_{{typename}} xs,
        Array_{{typename}} ys,
        bool ( * eq )( {{type}} x, {{type}} y ) );
// Returns the number of infixed occurences of `ys` in `xs`.


bool
array_{{funcname}}__elem_by(
        Array_{{typename}} xs,
        {{type}} y,
        bool ( * eq )( {{type}} x, {{type}} y ) );


{{type}} *
array_{{funcname}}__elem_ptr_by(
        Array_{{typename}} xs,
        {{type}} y,
        bool ( * eq )( {{type}} x, {{type}} y ) );


Maybe_size
array_{{funcname}}__elem_index_by(
        Array_{{typename}} xs,
        {{type}} y,
        bool ( * eq )( {{type}} x, {{type}} y ) );


size_t
array_{{funcname}}__elem_count_by(
        Array_{{typename}} xs,
        {{type}} y,
        bool ( * eq )( {{type}} x, {{type}} y ) );


void
array_{{funcname}}__replacef(
        Array_{{typename}},
        bool ( * f )( {{type}} x ),
        {{type}} replacement );


Array_{{typename}}
array_{{funcname}}__replacedf(
        Array_{{typename}} xs,
        bool ( * f )( {{type}} x ),
        {{type}} replacement );


void
array_{{funcname}}__replace_by(
        Array_{{typename}} xs,
        {{type}} element,
        {{type}} replacement,
        bool ( * eq )( {{type}} x, {{type}} el ) );


Array_{{typename}}
array_{{funcname}}__replaced_by(
        Array_{{typename}} xs,
        {{type}} element,
        {{type}} replacement,
        bool ( * eq )( {{type}} x, {{type}} el ) );


struct array_{{funcname}}__each__options {
    void ( * f )( {{type}} );
    bool ( * b )( {{type}} );
    void ( * fi )( size_t index, {{type}} );
    bool ( * bi )( size_t index, {{type}} );
    void ( * fv )( void const * v, {{type}} );
    bool ( * bv )( void const * v, {{type}} );
    void ( * fvi )( void const * v, size_t index, {{type}} );
    bool ( * bvi )( void const * v, size_t index, {{type}} );
    bool ( * where )( {{type}} );
    bool ( * where_not )( {{type}} );
    void const * v;
};

bool
array_{{funcname}}__each_(
        Array_{{typename}},
        struct array_{{funcname}}__each__options );

#define array_{{funcname}}__each( XS, ... ) \
    array_{{funcname}}__each_( XS, \
        ( struct array_{{funcname}}__each__options ){ __VA_ARGS__ } )


struct array_{{funcname}}__eachp__options {
    void ( * f )( {{type}} * );
    bool ( * b )( {{type}} * );
    void ( * fi )( size_t index, {{type}} * );
    bool ( * bi )( size_t index, {{type}} * );
    void ( * fv )( void const * v, {{type}} * );
    bool ( * bv )( void const * v, {{type}} * );
    void ( * fvi )( void const * v, size_t index, {{type}} * );
    bool ( * bvi )( void const * v, size_t index, {{type}} * );
    bool ( * where )( {{type}} );
    bool ( * where_not )( {{type}} );
    void const * v;
};

bool
array_{{funcname}}__eachp_(
        Array_{{typename}},
        struct array_{{funcname}}__eachp__options );

#define array_{{funcname}}__eachp( XS, ... ) \
    array_{{funcname}}__eachp_( XS, \
        ( struct array_{{funcname}}__eachp__options ){ __VA_ARGS__ } )




{% macro typeclass_header(name) -%}
///////////////////////////////////
/// TYPECLASS: {{name}}
///////////////////////////////////
{%- endmacro %}

{% macro typeclass(name) -%}
{% if name in typeclasses %}
{{ typeclass_header(name) }}
{{ caller() }}
{% endif %}
{%- endmacro %}


{% call typeclass('EQ') %}


bool
array_{{funcname}}__equal(
        Array_{{typename}},
        Array_{{typename}} );


bool
array_{{funcname}}__not_equal(
        Array_{{typename}},
        Array_{{typename}} );


#define array_{{funcname}}__equal_els( XS, ... ) \
    array_{{funcname}}__equal( XS, \
        ( Array_{{typename}} ) ARRAY_{{macroname}}( __VA_ARGS__ ) )


bool
array_{{funcname}}__is_prefix(
        Array_{{typename}},
        Array_{{typename}} );


bool
array_{{funcname}}__is_suffix(
        Array_{{typename}},
        Array_{{typename}} );


bool
array_{{funcname}}__is_infix(
        Array_{{typename}},
        Array_{{typename}} );


Maybe_size
array_{{funcname}}__infix_index(
        Array_{{typename}},
        Array_{{typename}} );


{{type}} *
array_{{funcname}}__infix_ptr(
        Array_{{typename}},
        Array_{{typename}} );


size_t
array_{{funcname}}__infix_count(
        Array_{{typename}},
        Array_{{typename}} );


bool
array_{{funcname}}__elem(
        Array_{{typename}},
        {{type}} );


{{type}} *
array_{{funcname}}__elem_ptr(
        Array_{{typename}},
        {{type}} );


Maybe_size
array_{{funcname}}__elem_index(
        Array_{{typename}},
        {{type}} );


size_t
array_{{funcname}}__elem_count(
        Array_{{typename}},
        {{type}} );


void
array_{{funcname}}__replace(
        Array_{{typename}},
        {{type}} element,
        {{type}} replacement );


Array_{{typename}}
array_{{funcname}}__replaced(
        Array_{{typename}},
        {{type}} element,
        {{type}} replacement );


{% endcall %}


{% call typeclass('NUM') %}


Array_{{typename}}
array_{{funcname}}__view_strm(
        {{type}} * strm );
// Returns a constant array representation of the buffer `strm` terminated by
// `{{funcname}}__zero()`.


Array_{{typename}}
array_{{funcname}}__copy_str(
        {{type}} const * const str );


{% endcall %}


#endif // ifndef LIBARRAY_ARRAY_{{macroname}}_H

